<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baccaventuri.flicking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Flicking"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" /> &lt;!&ndash; Send
         action required to display activity in share list &ndash;&gt;
                <category android:name="android.intent.category.LAUNCHER" /> &lt;!&ndash;
          Make activity default to launch &ndash;&gt;
                &lt;!&ndash; Mime type i.e. what can be shared with this activity only image and text &ndash;&gt;
                <data android:mimeType="image/*" />
                <data android:mimeType="text/*" />
            </intent-filter>-->
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.baccaventuri.flicking.Data.PhotoProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>